<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RPKI Chronicle</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ url_for('static', filename='css/chosen.css') }}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" media="screen"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">


    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/chosen.jquery.min.js') }}"></script>
</head>
<body>
<div id="tb-projects-bar">
    <div class="tb-logo-wrapper">
        <a href="https://www.nic.cz/">
            <img src="https://www.nic.cz/static/img/widgets/cz_nic_logo_topbar.png" alt="CZ.NIC">
        </a>
    </div>
    <div class="tb-table-wrapper">
        <table>
            <tr>
                <td><a href="{{ url_for('search') }}">Search</a></td>
                <td><a href="{{ url_for('notifications') }}">My notifications<span id="notification-count"></span></a></td>
                <td><a href="{{ url_for('charts') }}">Charts</a></td>
                {#                <td><a href="{{ url_for('table') }}">Global table</a></td>#}
            </tr>
        </table>
    </div>
</div>


<div id="content" role="main">
    <div class="wrap cs">

        <div id="page">
            <div id="hp-main">
                {#            ( User id {{ user.id }} )#}
                <div id="login-button" class="float-right">
                    {% if is_logged or user.email: %}
                        <i class="fas fa-user"></i>
                        {{ user.email }}
                        <a href="{{ url_for('logout') }}">logout</a>
                    {% else %}
                        <a href="{{ url_for('login') }}">
                            <img src="{{ url_for('static', filename='mojeid_button.png') }}"/>
                        </a>
                    {% endif %}
                </div>
                <h1>RPKI Chronicle</h1>
            </div>
            {% if report %}
                <div class="alert alert-{{ report.style }}">{{ report.msg }}</div>
            {% endif %}


            {% with messages = get_flashed_messages(true) %}
                {% if messages %}
                    <ul class=flashes>
                        {% for type, message in messages %}
                            <div class="alert alert-{{ type }}">{{ message }}</div>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            {% block content %}

            {% endblock %}


            <div class="cleaner"></div>
            <!-- end block content -->


            <div class="cleaner" id="break"></div> <!-- main_page -->

        </div> <!-- page -->

    </div> <!-- wrap -->


    <!-- footer -->
    <div id="footer" role="contentinfo">

        <div class="wrap">
            <p id="copyright">
                <img src="{{ url_for('static', filename='en_horizontal_cef_logo_2.png') }}" alt="EU CEF logo"/>
                <br>
                © 2019 CZ.NIC, z. s. p. o.
            </p>
            <p id="footer-navigation-heading">Other webs:</p>
            <ul id="footer-navigation">
                <!-- site CZ.NIC -->

                <li><a href="http://www.mojeid.cz/" title="mojeID">mojeID</a></li>
                <li><a href="http://fred.nic.cz" title="Free Registry for ENUM and Domains">FRED</a></li>
                <li><a href="http://www.nic.cz/dnssec/" title="DNSSEC">DNSSEC</a></li>
                <li><a href="http://www.nic.cz/csirt/" title="CZ.NIC-CSIRT">CZ.NIC-CSIRT</a></li>
                <li><a href="http://csirt.cz/" title="CSIRT">CSIRT.CZ</a></li>
                <li><a href="http://labs.nic.cz/" title="Laboratoře">Laboratoře</a></li>

                <li><a href="https://akademie.nic.cz/" title="Akademie">Akademie</a></li>

                <li><a href="http://knihy.nic.cz/" title="Edice CZ.NIC">Edice CZ.NIC</a></li>
                <li><a href="https://www.domenovyprohlizec.cz/" title="Doménový prohlížeč">Doménový prohlížeč</a></li>
                {#                <li><a href="/page/357/" title="Kontakt">Kontakt</a></li>#}
            </ul>


            <div class="cleaner"></div>
        </div><!-- .wrap -->
        <div id="footer-deco"></div>
    </div><!-- #footer -->
    <p id="links"></p>
</div>

</body>
</html>